:root {
  /* Color styles */
  --main-pink: #d658b3;
  --main-green: #45b442;
  --base-white: #ffffff;
  --base-gray-100: #f4f1f2;
  --base-gray-200: #e9e7e9;
  --base-gray-300: #dfdcdf;
  --base-gray-400: #d3cfd2;
  --base-gray-500: #756c71;
  --base-gray-600: #4a4448;
  --base-gray-700: #332b31;

  --gradient-base: linear-gradient(
    90deg,
    #2daa6e 0%,
    #2daaaa 33.33%,
    #856ccf 66.67%,
    #d658b3 100%
  );

  /* Text-size styles */
  /* base size: body---text--md (16px) */
  --heading-title-md: 1.5rem;
  --heading-title-sm: 1.125rem;
  --heading-subtitle-md: 0.875rem;
  --heading-subtitle-sm: 0.75rem;
  --body-text-md: 1rem;
  --body-text-sm: 0.875rem;
  --body-text-xs: 0.75rem;

  --ff-base: "Oxygen", sans-serif;

  --title-md: 700 var(--heading-title-md) / 1.4 var(--ff-base);
  --title-sm: 700 var(--heading-title-sm) / 1.4 var(--ff-base);
  --subtitle-md: 700 var(--heading-subtitle-md) / 1.4 var(--ff-base);
  --subtitle-sm: 700 var(--heading-subtitle-sm) / 1.4 var(--ff-base);
  --text-md: 400 var(--body-text-md) / 1.4 var(--ff-base);
  --text-sm: 400 var(--body-text-sm) / 1.4 var(--ff-base);
  --text-xs: 400 var(--body-text-xs) / 1.4 var(--ff-base);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--base-gray-200);
  font: var(--text-md);
  width: 100%;
  height: 100vh;

  padding-block: 4rem 10.125rem;

  & ::-webkit-scrollbar {
    width: 1.375rem;
  }

  & ::-webkit-scrollbar-track {
    background: transparent;
  }

  & ::-webkit-scrollbar-thumb {
    border: 0.5rem solid transparent;
    background: var(--base-gray-300);
    background-clip: padding-box;
    border-radius: 999px;
  }
}

h1 {
  font: var(--title-md);
}

h2 {
  font: var(--title-sm);
}

h3 {
  font: var(--subtitle-md);
  text-transform: uppercase;
}

h4 {
  font: var(--subtitle-sm);
  text-transform: uppercase;
}

ul[role="list"] {
  list-style: none;
}

@media (max-width: 768px) {
  body {
    height: 100%;
    padding-block: 2rem 1rem;
  }

  h1 {
    font: var(--title-sm);
  }

  h3 {
    font: var(--subtitle-sm);
  }
}
