main {
  margin-top: 4rem;
  max-width: 57rem;
  height: 29.125rem;

  display: grid;
  grid-template-rows: 5.625rem auto 7.3125rem;
  row-gap: 1rem;
  grid-template-columns: 20rem 35.5rem;
  column-gap: 1.5rem;
  grid-template-areas:
    "profile-info card"
    "history card"
    "history prize";

  & .card {
    border: 1px solid var(--base-gray-300);
    border-radius: 1rem;
    background-color: var(--base-gray-100);
  }
}

main > aside {
  p {
    font: var(--text-xs);
    color: var(--base-gray-500);
  }

  &.profile-info {
    grid-area: profile-info;

    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    & .avatar {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 0.625rem;
      padding: 2px;
      background: conic-gradient(
        #af74de 13%,
        #6b84de 25%,
        #5dcab7 38%,
        #45b442 50%,
        #5ec6b9 62%,
        #698dd9 73%,
        #b173dc 87%,
        #d658b3 100%
      );

      & img {
        border: 2px solid var(--base-gray-100);
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.625rem;
      }
    }

    & .user-info {
      width: max-content;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 0.25rem;

      h2 {
        color: var(--base-gray-600);
      }
    }
  }

  &.history {
    grid-area: history;

    width: 100%;
    height: 100%;

    overflow: auto;
    padding: 1.75rem 1.75rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;

    & .history-header {
      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    & ul.history-list {
      padding-top: 0.75rem;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.75rem;

      & li.history-item {
        width: 100%;
        height: 2.5rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        & .date-time-info {
          width: max-content;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 0.125rem;
        }

        & .badge-icon {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;

          display: flex;
          justify-content: center;
          align-items: center;

          background-color: rgba(69, 180, 66, 0.12);

          & img {
            width: 1.5rem;
            height: 1.5rem;
            object-fit: none;
          }
        }
      }
    }
  }
}

main > section.fidelity-card {
  grid-area: card;
}

main > footer.prize {
  grid-area: prize;

  padding: 1.40625rem 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;

  & .progress {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.75rem;

    & h1 {
      color: var(--base-gray-600);

      & > span {
        font: var(--text-md);
        color: var(--base-gray-500);
      }
    }

    & .progress-bar-container {
      width: 100%;

      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.75rem;

      & .progress-bar {
        width: 100%;
        height: 0.5rem;

        background-color: var(--base-gray-300);
        border-radius: 9999px;

        & .progress-bar-fill {
          width: 0;
          height: 100%;

          border-radius: 9999px;
          background: var(--gradient-base);
        }
      }

      & p.progress-bar-text {
        width: max-content;
        white-space: nowrap;
        font: var(--text-xs);
        color: var(--base-gray-500);
      }
    }
  }

  & .prize-redeem {
    min-width: 4.5rem;
    width: 4.5rem;
    height: 4.5rem;

    background-color: var(--base-gray-200);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      width: 3rem;
      height: 3rem;
      object-fit: contain;
      margin-top: 0.625rem;
    }
  }
}
